*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.Card{
    display: flex;
    height: 200px;
    width: 500px;
    color: white;
    border-radius:10px;
    background-color:#191A19;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 2px 2px 5px black;
    padding: 40px;
}

.btn{
    display:block;
    height:30px;
    width:120px;
    color:white;
    background-color:#191A19;
    border-radius: 5px;
    margin: 10px;
}